
<article {{ bem("node") }}>
  {{ title_prefix }}
  {% if not page %}
    {% include "@atoms/text/headings/_heading.twig" with {
      "heading_level": 2,
      "heading": label,
      "heading_url": url,
      "heading_link_attributes": {
        'rel': 'bookmark'
      },
    } %}
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>
    {{ content }}
  </div>

</article>
