
<article {{ bem("node") }}>
  {{ title_prefix }}
  {% if not page %}
    {% include "@atoms/text/headings/_heading.twig" with {
      "heading_level": 2,
      "heading": label,
      "heading_url": url,
      "heading_link_attributes": {
        'rel': 'bookmark'
      },
    } %}
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes }}>

    {% include '@molecules/text-with-media/text-with-media.twig' with {
      image: content.field_image,
      category: node.field_category.entity.name.value,
      label: label,
      author_name: author_name,
      date: node.created.value|date('F j, Y'),
    }
    %}
    {{ content.field_image_paragraph }}
    {{ content.field_tags }}
  </div>

</article>


