
<div class="title-container">
<div class="image-container">
  <a href="#" class="category-link">
    <div class="image">
      {{ image }}
    </div>
    <div class="overlay">
      <p class="category-title">{{ category }}</p>
      <h2 class="post-title">{{ label }}</h2>
    </div>
  </a>
</div>
<div class="author">
  <p class="authors_name">{% trans %}By: {{ author_name }}{% endtrans %}</p>
  <p class="authors_date">{% trans %}Date: {{ date }}{% endtrans %}</p>
</div>
</div>
