

<div class="image-container">
  <a href="#" class="category-link">
    <div class="image">
      {{ image }}
    </div>
    <div class="overlay">
      <h2 class="category-title">{{ category }}</h2>
      <p class="post-title">{{ label }}</p>
    </div>
  </a>
</div>
<div class="author">
  <p class="authors_name">By: {{ author_name }}</p>
  <p class="authors_date">Date: {{ date }}</p>
</div>
