{% set card__base_class = 'card' %}

<div class="user-block">
  {# Image #}
  {% block card__img %}
    {% if card__image__src %}
      <a href="{{ user_link }}">
        <img src="{{ card__image__src }}" alt="">
      </a>
    {% endif %}
  {% endblock %}
  <div class="user-content">
        <div class="user-name">
          <a href="{{ user_link }}">
            {{ author_name }}
          </a>
        </div>

      <div class="user-website">
        <a href="{{ user_website }}">{{ user_website }}</a>
      </div>

      <div class="user-body">
        {{ user_body }}
      </div>

  </div>
</div>
