{% set card__base_class = 'card' %}

<div class="user-block">
  {% block card__img %}
    {% if card__image__src %}
      <a href="{{ user_link }}">
        <img src="{{ card__image__src }}" alt="">
      </a>
    {% endif %}
  {% endblock %}
  <div class="user-content">
        <div class="user-name">
          <a href="{{ user_link }}">
            {{ author_name }}
          </a>
        </div>

      <div class="user-website">
        <a href="{{ user_website }}">{{ user_website }}</a>
      </div>

      <div class="user-body">
        {{ user_body }}
      </div>
    <div class="author-social">
      {% for item in field_social_value %}
        <a href="{{ item.uri }}" class="social-icon">
          <i class="fa-brands fa-{{ item.title }}"></i>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
