{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% extends "@organisms/site/site-footer/site-footer.twig" %}

{% block footer__menu %}
  <div class="menu_footer">
    {% if elements['fausttheme_site_branding'] is defined %}
      {{ elements['fausttheme_site_branding'] }}
    {% endif %}
    {% if elements['fausttheme_mainnavigation'] is defined %}
      {{ elements['fausttheme_mainnavigation'] }}
    {% endif %}
  </div>

  <div class="footer_blocks">
    <div class="social_menu">
      {% if elements['fausttheme_aboutus'] is defined %}
        {{ elements['fausttheme_aboutus'] }}
      {% endif %}
      {% if elements['fausttheme_socialmedia_2'] is defined %}
        {{ elements['fausttheme_socialmedia_2'] }}
      {% endif %}
    </div>


    {% if elements['fausttheme_company'] is defined %}
        {{ elements['fausttheme_company'] }}
    {% endif %}


    {% if elements['fausttheme_views_block__the_latest_block_1'] is defined %}
        {{ elements['fausttheme_views_block__the_latest_block_1'] }}
    {% endif %}


    {% if elements['fausttheme_webform'] is defined %}
        {{ elements['fausttheme_webform'] }}
    {% endif %}


    {% for key, element in elements %}
      {% if key not in ['fausttheme_site_branding', 'fausttheme_mainnavigation', 'fausttheme_aboutus', 'fausttheme_socialmedia_2', 'fausttheme_company', 'fausttheme_views_block__the_latest_block_1', 'fausttheme_webform', 'fausttheme_copyright'] %}
        {{ element['#markup']}}
      {% endif %}
    {% endfor %}
  </div>

  {% if elements['fausttheme_copyright'] is defined %}
      {{ elements['fausttheme_copyright'] }}
  {% endif %}
{% endblock %}
