{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% extends "@organisms/site/site-footer/site-footer.twig" %}

{% block footer__menu %}
  {{ content }}
{% endblock %}






{#<div class="footer-wrapper">#}
{#  {% for item in elements %}#}
{#    {% if item['#id'] == 'fausttheme_site_branding' %}#}
{#      {{ item }}#}
{#    {% elseif item['#id'] == 'fausttheme_mainnavigation'%}#}
{#      {{ item }}#}
{#    {% endif %}#}
{#  {% endfor %}#}
{#</div>#}
{#<div class="social-wrapper">#}
{#  {% for item in elements %}#}
{#    {% if item['#id'] == 'fausttheme_aboutus' %}#}
{#      {{ item }}#}
{#    {% elseif item['#id'] == 'fausttheme_socialmedia_2'%}#}
{#      {{ item }}#}
{#    {% endif %}#}
{#  {% endfor %}#}
{#</div>#}
{#{% for item in elements %}#}
{#  {% if item['#id'] == 'fausttheme_company' or item['#id'] == 'fausttheme_views_block__the_latest_block_1' or item['#id'] == 'fausttheme_subscribe' or item['#id'] == 'fausttheme_copyright' %}#}
{#    {{ item }}#}
{#  {% endif %}#}
{#{% endfor %}#}
