{% set row = rows.0.content['#row']._entity %}
{% set user_id = row.uid.value %}
{% set user_name = row.name.value %}
{% set user_body = row.field_body.value %}
{% set user_picture_url = row.user_picture.entity.uri.value %}
{% set image_url = file_url(user_picture_url) %}
{% set field_social_value = row.field_social.value %}
{% set field_website_value = user_entity["#user"].field_website.value %}

<div class="author-info-wrapper">
  <div class="image-socials">
    <img src="{{ image_url }}" alt="">
    <div class="social-user-menu">
      {% for item in field_social_value %}
        <a href="{{ item.uri }}" class="social-icon">
          <i class="fa-brands fa-{{ item.title }}"></i>
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="author-body">
  <h3 class="user-name">{{ user_name }}
    <span class="article-count">{{ article_count }}&nbsp;
      {% if article_count > 0 and article_count != 1 %}
      {% trans %}Posts{% endtrans %}
      {% else %}
      {% trans %}Post{% endtrans %}
      {% endif %}
    </span>
  </h3>
  <p class="body-text">{{ user_body }}</p>
    <a href="/user/{{ user_id }}/weather-info">Weather customization</a>
  </div>
</div>
