<div class="celebrity-block" {{ bem('block') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('h2') }}>{{ label }}</h2>
    <div class="background-overlay-celebrity">Lifestyle</div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
