
<div class="author-image-container">
  <a href="{{ authors_page_link }}" class="authors-image-link">
    <div class="authors-image">
      {{ image }}
    </div>
  </a>
</div>
<div class="author-preview">
  <a href="{{ authors_page_link }}" class="authors-preview-name">{{ author_name }}</a>
  <p class="authors-preview-date">Date: {{ date }}</p>
</div>

