
<div class="author-container">
  <a href="{{ authors_page_link }}" class="authors-image-link">
    <div class="authors-image">
      {{ image }}
    </div>
  </a>
  <a href="{{ authors_page_link }}" class="authors-preview-name">{{ author_name }}</a>
  <span>&#x2500</span>
  <p class="authors-preview-date">{% trans %}Date: {{ date }}{% endtrans %}</p>
</div>


